@import url(https://db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);

@font-face {
    font-family: "Circular Std Book";
    src: url("https://db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.eot");
    src: url("https://db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.svg#Circular Std Book")format("svg");
}

.user-item a:hover,
.user-item a:active {
  color: black;
}

.user-item li {
  border: solid 1px black;
  text-align: left;
}

.user-item a {
  color: #1DB954;
  text-decoration: none;
}
.user-item { display: flex;}

.user-info h3 {
  color: black;
}

.deleteBtn {
  background-color: #1DB954;
  color: black;
  margin-right: 10px;
  font-family: "Circular Std Book";
  border: none;
}

.savePlaylistBtn {
  background-color: #1DB954;
  color: black;
  margin-right: 10px;
  display: inline-block;
  font-family: "Circular Std Book";
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border: none;
}



.user-content {
  padding: 0;
}

.user-img {
  width: 100px;
  height: 100px;
  margin-right: 1rem;
}


.user-info h2 {
  font-size: 2.5rem;
  margin: 0 0 0.5rem 0;
  font-weight: normal;
  color: #e97a7ace;
  display: inline;
}
.user-info h4 {
    margin: 0.2em 0;
    color:#140101ce;
}



.user-item__info h4 {
  margin: 0;
}

.play-button h2 {
  font-size: 2.5rem;
  margin: 0 0 0.5rem 0;
  font-weight: normal;
  color: #e97a7ace;
  display: inline;
}

.play-button:hover h2 {
  color:black;
}
